<!DOCTYPE html>
<html>
  <head>
    <title>hello world</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/page/index.css"/>
  </head>
  <body>
    <div id="slogan"></div>
    <div id="header">
      <ul>
        <li><a href="index.php">首页</a></li>
        <li><a href="#">博客</a></li>
        <li><a href="#">相册</a></li>
      </ul>
      <div id="index_words">
        <span >
        闯赢族——敢闯才会赢！<br/>
        &nbsp;&nbsp;tryingzone,源于之前的一个创业想法，为创业者提供交流的圈子，相互帮助，促进彼此的成长。<br/>
        &nbsp;&nbsp;现在，作为个人站点，记录着个人工作中到成长历程，尤其是作为IT从业者到学习过程，为下一次闯荡蓄力。
        </span>
      </div>
    </div>
    <div id="contents"></div>
    <div id="footer"></div>
  </body>
</html>
